.contact {
  min-height: 25vh;
  width: 100%;
  margin-top: 5vh;
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-content {
  min-height: 20vh;
  margin: 30px;
  border-right: 1px dashed grey;
  border-left: 1px dashed grey;
}
.footer-title {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.25em;
  margin: 2vh 0 0 2vw;
}
.contact-item {
  color: lightgrey;
  margin: 2vh 0 0 5vh;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.footer-item {
  color: lightgrey;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: .75em;
}
