.nav {
  background-color: rgba(33, 33, 33, 0.7);
}
.nav-link {
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.nav-link:hover {
  color: rgb(84, 130, 144);
  transition: all 1s;
  cursor: pointer;
}
